/*Schrijf hier jouw css*/

body{
    background-color: #F2F3D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

header{
    margin: -10px -20px 10px -20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #030027;
    color: white;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
ul li{
    padding: 30px;
    list-style: none;
}
a{
    font :normal 1rem "Roboto", sans-serif;
    text-decoration: none;
    color: white;
}
a:hover{
    color: #151E3F;
}

p{
    padding-left: 50px;
    font: bold 1rem "Roboto", sans-serif;
}


div {
    margin: 40px;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
}
h1{
    font: bold 2rem "Roboto", sans-serif;
    text-align: center;
    color: #030027;
    margin-bottom: 5px;
}
h3{
    margin-top: 0;
    font: bold 1.3rem "Roboto", sans-serif;
    text-align: center;
    color: #030027;
    line-height: 25px;
    margin-bottom: 40px;

}
section{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
article{
    border-radius: 10px;
    color: #030027;
    font: bold 1.2rem "Roboto", sans-serif;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
    padding: 100px 20px 20px 20px;
    background-color: #C16E70;

}